* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.arkaplan {
  background-color: black;
  width: 350px;
  height: 600px;
  color: aliceblue;
  margin: auto;
  margin-top: 70px;
  border-radius: 40px;
  position: relative;
  
 

 
 
  
}
.container-bir {
  height: 100%;
 padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(4, 1fr) ;
  grid-template-rows: repeat(5);
  gap: 5px;
  align-content: end;
  justify-content: center;
  
 
}

.ac {
  background-color:#333333;
  padding: 20px;
  
  border-radius: 100%;
  cursor: pointer;
  color: azure;
  font-size: 30px;
  font-weight: bold;
 
  text-align: center;
}
 
.ac:hover {
  background-color: #535353;
}

.sıfır{ 
  grid-column: 1 / span 2;
  border-radius: 60px;
}

.ust{
  background-color: #A5A5A5;
  color: black;
}

.ust:hover{
  background-color: #535353;
}
  

.sağ{
  background-color:#F1A33C;
}


.sağ:hover{
  background-color: #79521E;
}
